.nav {
  background: #444444;
  height:100px;
}
.navbar {
  /* background: #333333; */
  float: right;
  margin: 0px 20px;
  height:100px;
}
.navbar li {
  /* background: #222222; */
  height: 100px;
  display:inline-block;
}
.navbar li a {
  /* background: #111111; */
  line-height: 100px;
  display:inline;
  vertical-align: middle;
  text-decoration: none;
}
.navbar li a:link {
  color:#FFFFFF;
}
.navbar li a:visited {
  color:#FF0000;
}
.navbar li a:hover {
  color:#00FF00;
}
.navbar li a:active {
  color:#0000FF;
}
.main {
  background: #AAAAAA;
  padding: 10px;
}
.section {
  background: #FFFFFF;
  padding: 20px;
  margin: 20px;
  box-shadow: 2px 2px 2px #444444;
}
.footer-section {
  background: #000000;
  padding: 10px;
  margin: 0px;
}
.footer-section p {
  color: white;
  text-align: center;
  font-size: 10px;
}
.desc {
  font-size: 14px;
}
.ul-no-style {
  list-style: none;
}
.img-box {
  margin: 5px;
  padding: 5px;
  width:150px;
  border: 1px solid black;
  text-align: center;
}
.custom-table {
  width: 100%;
  text-align: left;
}
table th {
  background: #444444;
  color: #FFFFFF;
}
table td {
  margin: 0px;
}
table tfoot td {
  background: #888888;
  color: #000000;
}
.tips {
  color: #AAAAAA;
}
.form-table {
  width: 100%;
}
.form-table td {
  padding: 5px;
}
.form-left {
  text-align: right;
  width:40%;
}
.form-right {
  text-align: left;
  width:60%;
}
.full-width-button {
  color: white;
  height:40px;
  border-radius: 10px;
  border:0;
  width: 100%;
  background: blue;
}
.sidebar {
  padding: 5px;
  border-left: 5px solid #888888;
}